*{
  margin: 0px;
  padding:0 ;
  box-sizing: border-box;
  font-family: 'Overlock', cursive;
}

  .home a {
    display: inline-block;
    text-decoration: none;
    color:  #F2CB05;
    text-decoration-line: none;
    margin-top: 30px;
    font-size: 200%;
    margin-inline: 30px;
  }
#fundo{
  background-image: linear-gradient(#003461,#00f0ec);
}
.home {
  text-align: center;
  height: 60px;
}



.home a:hover{
  display: inline-block;
  color: white;
  text-decoration-line: underline;
  
}

.principal{
 display: block;
 text-align: center;
 font-size: 60px;
 color: #01192e;

}


.rodape{
  text-align: center;
  background-color:  #8C030E;
  color: white;
}

#sobremim{
  margin:15% 15% 15% 15% ;
}


.sub{
 
  color:darkblue;
  text-align:left;
  font-size: 100%;
  
}


p{ 
  font-size: 25px;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.sobre{
  display: block;
  border-style: dashed; 
 
  border-color: darkblue;
  padding: 0% 5% 0% 5%;
  border-radius: 20px;
  background-color: white;
}
#hobbies{
  margin:25% 15% 25% 15% ;
}

ul a{
  text-align: center;
  list-style: none;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: #8C030E;
  display: inline-block;
  background-color: #F2CB05;
  padding: 10px;
  font-size: 20px;
  margin-inline: 10px;
  border-radius: 20px;
}
ul{
margin-top: 50px;
display: inline;

}


#redes{
  text-align: center;
}

.sobre ul{
  font-size: 25px;
  margin: 20%;
  margin-left: 10px;
}
.sobre div h2{
  font-size: 25px;
  margin-top: 5%;
}
